* {
    margin: 0px;
}

.main {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}

.first,
.second {
    width: 100%;
    height: auto;
}

.first form {
    width: 100%;
    height: 80%;
}

.first input {
    margin: 10px;
    width: 75%;
    padding: 8.7px;

}

.first button {
    width: 20%;
    padding: 10px;
    border: none;
    color: white;
    background-color: greenyellow;


}

.second table {
    width: 100%;
    height: 100%;
    padding: 20px;
    justify-content: center;
    text-decoration: none;

}

.table,
th,
td {
    border: none;

    font-size: 20px;
    text-decoration: none;
}

.second th,
td {
    border: none;
    text-decoration: none;
    background-color: rgb(164, 119, 60);
    color: white;
}